*.pdf
*.log
*.json
*.info
RAG/logs
RAG/chunks
RAG/extracted_md
qdrant_storage
output
.DS_Store
*.pyc 
frontend/node_modules
dpo_ckpt
dist
*.jsonl
*.png
*.jpg
*.md
!/README.md
!/README.en.md
!/README.zh-CN.md
*.doc
*.pptx
*.zip
*.yml
*.doc
*.docx
/scripts
*.ppt*
*.rdbmcp/.sim_stream/
documents
